* {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  margin: 0;
}

body {
  display: grid;
  justify-content: center;
  gap: 3.75rem;
  background-color: #f7f7f7;
  margin-top: 60px;
}

header {
  display: grid;
  justify-items: center;
  gap: 60px;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

ul { 
  padding: 0;
  list-style: none;
}

p {
  font-size: 1.25rem;
  line-height: 1.3;
}

footer {
  background: #fff;
  width: 100%;
  padding: 2.5rem;
  text-align: center;
  box-sizing: border-box;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.25rem;
}

.menu a {
  display: block;
  background-color: #fff;
  padding: 1em 2em;
  border-radius: 4px;
  text-transform: uppercase;
  border: 2px solid #fff;
}

.menu a:hover {
  border-color: #e21;
}

.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}

.introducao {
  display: grid;
  align-content: center;
  justify-items: end;
  gap: 1.25rem;
  
  padding: 2.5rem;
  background: #fff;
  text-align: right;
  position: relative;
}

.introducao h1 {
  font-size: 2rem;
}

.introducao::after {
  content: "";
  width: 3.75rem;
  height: 0.25rem;
  background: #e21;
  position: absolute;
  top: 1.875rem;
  right: -1.875rem;
}

.introducao-cover img {
  object-fit: cover;
  height: 100%;
}

.ver-mais {
  background: #e21;
  color: #fff;
  padding: 1em 2em;
  border-radius: 4px;

  text-transform: uppercase;
  font-weight: normal;
}

.ver-mais:hover {
  background: #900;
}

.subtitulo {
  align-self: center;
  padding: 2.5rem;
  color: #c6c6c6;
  font-size: 4rem;
  text-align: right; 
  text-transform: uppercase;
  background-image: url("./img/onda.svg");
}

.vantagens {
  background: #fff;
  padding: 2.5rem;
}

.vantagens-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.625rem 1.25rem;
  padding: 1.25rem;
  border-left: 4px solid transparent;
}

.vantagens-item:hover { 
  border-color: #ee2211;
}

.vantagens-item:nth-child(odd) {
  background-color: #f7f7f7;
}

.vantagens-item p {
  grid-column: 2;
}

@media (max-width: 1000px) {
  .conteudo-vantagem {
    grid-template-columns: 1fr;
  }
  .subtitulo {
    text-align: center;
  }
}

@media (max-width: 600px) {
  body {
    gap: 1.875rem;
    margin-top: 1.25rem;
  }
  header {
    gap: 1.875rem;
  }
  .conteudo {
    grid-template-columns: 1fr;
  }
  .introducao {
    text-align: left;
    justify-items: start;
  }
  .introducao::after {
    display: none;
  }
  .subtitulo {
    font-size: 3rem;
  }
}

@media (max-width: 400px) {
  .subtitulo {
    font-size: 2rem;
  }
  p {
    font-size: 1rem;
  }
}
